:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #f85c3a;
  --black: #2d2d2d;
  --white: #ffffff;
  --lightGray: #ffffffb2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
