.stayConnected {
  background: #f6f6f6;
  background-image: url("/images/connectedBack.svg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  @media (max-width: 992px) {
    background-size: 200%;
  }
  > div {
    padding: 65px 16px;
    position: relative;
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 32px 16px;
    }
    img {
      position: absolute;
      bottom: -50px;
      right: 0;
      object-fit: cover;
      z-index: 1;
      @media (max-width: 992px) {
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
      }
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    @media (max-width: 992px) {
      align-items: center;
    }
    h2 {
      color: #2d2d2d;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 1.1;
      @media (max-width: 992px) {
        text-align: center;
        font-size: 38px;
      }
    }
    p {
      color: #2d2d2d;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 5px;
      @media (max-width: 992px) {
        text-align: center;
      }
    }
    div {
      display: flex;
      width: 100%;
      a {
        display: flex;
        width: 397px;
        max-width: 100%;
        height: 64px;
        padding: 20px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: #f85c3a;
        color: #fff;
        gap: 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 0%;
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }
}

.banner {
  padding: 65px 0;
  background: #f85c3a;
  position: relative;
  z-index: 1;
  @media (max-width: 992px) {
    padding: 32px 0;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}
